nav {
    background: rgb(102, 22, 139);
    color:#fff;
    padding: 10px;
    }
    nav a {
    color: #fff;
    text-decoration: none;
    padding:10px 20px;
    }
    nav .active,
    nav a:hover {
    background: rgb(137, 190, 23);
    }
    /* ID Selector */
    #intro {
        background: #6495ED;
        border: 1px solid #093249;
        min-height: 100px;
        padding: 10px;
        }
        #intro h1 {
        text-align: left;
        border: 0;
        color: #fff;
        }
        /* Class Selector */
        .button {
        padding: 15px 20px;
        background: #bebcbd;
        color: #fff;
        display: inline-block;
        margin: 10px;
        text-decoration: none;
        }
        .btn-primary {
        background: rgb(37, 127, 168);
        }
